#phase1_mug {
    /* animation: mug_animation 5s infinite; */
    animation-timing-function: ease;
}

#phase1_pour {
    /* animation: pour_animation 5s infinite; */
    animation-timing-function: ease;
}

#phase1_koper_bawah {
    clip-path: inset(0 0 35% 0);
}

/* static animation tas */
#phase1_tas_ijo {
    animation: hoveringAnimation1 12s infinite ease-in-out;
    cursor: pointer;
}

#phase1_tas_merah {
    animation: hoveringAnimation2 20s infinite ease-in-out;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#phase1_tas_orange {
    animation: hoveringAnimation3 15s infinite ease-in-out;
    cursor: pointer;
}
/* close static animation tas */

/* scale buat 3 tas */
.zoomed-in {
    transform: scale(1.1);
    z-index: 20 !important;
}
.zoomed-out {
    transform: scale(0.8);
}

/* Desktop */
@keyframes mug_animation {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes pour_animation {
    0% {
        transform: translateY(0%);
        clip-path: inset(0 0 21% 0);
    }
    50% {
        transform: translateY(-5%);
        clip-path: inset(0 0 2% 0);
    }
    100% {
        transform: translateY(0%);
        clip-path: inset(0 0 21% 0);
    }
}

/* Hovering Animation buat tas */
@keyframes hoveringAnimation1 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(0, -10px, 0);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    75% {
        transform: translate3d(0px, 10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes hoveringAnimation2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(-10px, -10px, 0);
    }
    50% {
        transform: translate3d(-20px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes hoveringAnimation3 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(-10px, -10px, 0);
    }
    50% {
        transform: translate3d(-20px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
/* Close Hovering Animation buat tas */

/* Tablet */
/* @media screen and (max-width: 992px) {
    @keyframes mug_animation {
        0% {
            transform: translateY(0vh);
        }
        50% {
            transform: translateY(5vh);
        }
        100% {
            transform: translateY(0vh);
        }
    }

    @keyframes pour_animation {
        0% {
            transform: translateY(0vh);
            clip-path: inset(0 0 9vh 0);
        }
        50% {
            transform: translateY(-5vh);
            clip-path: inset(0 0 0.5vh 0);
        }
        100% {
            transform: translateY(0vh);
            clip-path: inset(0 0 9vh 0);
        }
    }
} */

/* Phone */
/* @media screen and (max-width: 576px) {
    @keyframes mug_animation {
        0% {
            transform: translateY(0vh);
        }
        50% {
            transform: translateY(5vh);
        }
        100% {
            transform: translateY(0vh);
        }
    }

    @keyframes pour_animation {
        0% {
            transform: translateY(0vh);
            clip-path: inset(0 0 9.75vh 0);
        }
        50% {
            transform: translateY(-5vh);
            clip-path: inset(0 0 0.5vh 0);
        }
        100% {
            transform: translateY(0vh);
            clip-path: inset(0 0 9.75vh 0);
        }
    }
} */

/* slide untuk tgn pegang jam */
.slide-right {
    transform: translateX(100vw) !important; /* ini aku msh gatau px e brp */
    transition: transform 1s ease-in-out;
}
.slide-left {
    transform: translateX(
        calc(var(--original-position) - var(--new-position)) * 1px
    ) !important;
    transition: transform 1s ease-in-out;
}
