#phase1_mug {
    /* animation: mug_animation 5s infinite; */
    animation-timing-function: ease;
}

#phase1_pour {
    /* animation: pour_animation 5s infinite; */
    animation-timing-function: ease;
}

#phase1_koper_bawah {
    clip-path: inset(0 0 35% 0);
}

/* static animation tas */
#phase1_tas_ijo {
    animation: hoveringAnimation1 12s infinite ease-in-out;
    cursor: pointer;
    transition: scale 0.6s ease;
    -webkit-transition: scale 0.6s ease;
    -moz-transition: scale 0.6s ease;
    -ms-transition: scale 0.6s ease;
    -o-transition: scale 0.6s ease;
}

#phase1_tas_merah {
    animation: hoveringAnimation2 20s infinite ease-in-out;
    cursor: pointer;
    transition: scale 0.6s ease;
    -webkit-transition: scale 0.6s ease;
    -moz-transition: scale 0.6s ease;
    -ms-transition: scale 0.6s ease;
    -o-transition: scale 0.6s ease;
}

#phase1_tas_orange {
    animation: hoveringAnimation3 15s infinite ease-in-out;
    cursor: pointer;
    transition: scale 0.6s ease;
    -webkit-transition: scale 0.6s ease;
    -moz-transition: scale 0.6s ease;
    -ms-transition: scale 0.6s ease;
    -o-transition: scale 0.6s ease;
}

/* close static animation tas */

/* scale buat 3 tas */
.zoomed-in {
    scale: 1.1;
    z-index: 23 !important;
}

.zoomed-in-orange {
    scale: 1.25;
    z-index: 23 !important;
}

.zoomed-out {
    scale: 0.75;
}

/* Desktop */
@keyframes mug_animation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes pour_animation {
    0% {
        transform: translateY(0%);
        clip-path: inset(0 0 21% 0);
    }

    50% {
        transform: translateY(-5%);
        clip-path: inset(0 0 2% 0);
    }

    100% {
        transform: translateY(0%);
        clip-path: inset(0 0 21% 0);
    }
}

/* anting1 */
@keyframes swing-earring1 {

    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(15deg);
    }

}


#anting_kiri {
    transform-origin: top;
    animation: swing-earring1 ease-in-out 2.2s infinite alternate;
    -webkit-animation: swing-earring1 ease-in-out 2.2s infinite alternate;
}

/* anting2 */
@keyframes swing-earring2 {

    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }

}

#anting_kanan {
    transform-origin: 50% 6%;
    animation: swing-earring2 ease-in-out 2.3s infinite alternate;
    -webkit-animation: swing-earring2 ease-in-out 2.3s infinite alternate;
}

/* animasi jarum jam */
@keyframes rotate-hour {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#phase1_jarum_jam {
    animation: rotate-hour 60s infinite linear;
    transform-origin: 24.8% 51%;
}

#phase1_jarum_jam_2 {
    animation: rotate-hour 12s infinite steps(60);
    transform-origin: 32.7% 69.17%;
}

#phase1_jarum_jam_3 {
    animation: rotate-hour 20s infinite steps(60);
    transform-origin: 44.64% 77.22%;
}

#phase1_jarum_jam_4 {
    animation: rotate-hour 40s infinite steps(60);
    transform-origin: 70% 11.3%;
}

/* mobil geter */
@keyframes shake-car {
    0% {
        transform: translateX(-0.4px) rotateZ(-0.2deg);
        -webkit-transform: translateX(-0.4px) rotateZ(-0.2deg);
        -moz-transform: translateX(-0.4px) rotateZ(-0.2deg);
        -ms-transform: translateX(-0.4px) rotateZ(-0.2deg);
        -o-transform: translateX(-0.4px) rotateZ(-0.2deg);
    }

    100% {
        transform: translateX(0.4px) rotateZ(0.2deg);
        -webkit-transform: translateX(0.4px) rotateZ(0.2deg);
        -moz-transform: translateX(0.4px) rotateZ(0.2deg);
        -ms-transform: translateX(0.4px) rotateZ(0.2deg);
        -o-transform: translateX(0.4px) rotateZ(0.2deg);
    }
}

#phase1_mobil1 {
    animation: shake-car .26s infinite;
    -webkit-animation: shake-car .26s infinite;
}

#phase1_mobil2 {
    animation: shake-car .27s infinite;
    -webkit-animation: shake-car .27s infinite;
}

#phase1_mobil3 {
    animation: shake-car .28s infinite;
    -webkit-animation: shake-car .28s infinite;
}

@keyframes beeFloat {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-30px, -30px);
    }

    20% {
        transform: translate(30px, -60px);
    }

    30% {
        transform: translate(-30px, -90px);
    }

    40% {
        transform: translate(30px, -120px);
    }

    50% {
        transform: translate(-30px, -150px);
    }

    60% {
        transform: translate(30px, -120px) scaleX(-1);
    }

    70% {
        transform: translate(-30px, -90px) scaleX(-1);
    }

    80% {
        transform: translate(30px, -60px) scaleX(-1);
    }

    90% {
        transform: translate(-30px, -30px) scaleX(-1);
    }

}

@keyframes beeFloatDownNoFlip {

    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-70px, 55px);
    }

    50% {
        transform: translate(-18px, 150px);
    }

    75% {
        transform: translate(-3px, 60px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@keyframes swingBee {

    0%,
    100% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }
}

@keyframes flyBee2 {
    0% {
        transform: translate(-1px, -1px);
    }

    25% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-3px, -3px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(-1px, -1px);
    }
}

@keyframes flyBee1 {

    0% {
        transform: translate(0, 0) rotate(0deg);

    }

    100% {
        transform: translate(0, 0) rotate(-360deg);
    }

    25% {
        transform: translate(100px, -100px) rotate(-45deg);
    }

    50% {
        transform: translate(-25px, -250px) rotate(-90deg);
    }

    75% {
        transform: translate(-150px, -100px) rotate(-180deg);
    }
}

@keyframes flyBee3 {

    0% {
        transform: translate(-1px, -2px);
        -webkit-transform: translate(-1px, -2px);
        -moz-transform: translate(-1px, -2px);
        -ms-transform: translate(-1px, -2px);
        -o-transform: translate(-1px, -2px);
}

    25% {
        transform: translate(1.5px, 3px);
        -webkit-transform: translate(1.5px, 3px);
        -moz-transform: translate(1.5px, 3px);
        -ms-transform: translate(1.5px, 3px);
        -o-transform: translate(1.5px, 3px);
}

    50% {
        transform: translate(-2px, -4px);
        -webkit-transform: translate(-2px, -4px);
        -moz-transform: translate(-2px, -4px);
        -ms-transform: translate(-2px, -4px);
        -o-transform: translate(-2px, -4px);
}

    75% {
        transform: translate(1.5px, 3px);
        -webkit-transform: translate(1.5px, 3px);
        -moz-transform: translate(1.5px, 3px);
        -ms-transform: translate(1.5px, 3px);
        -o-transform: translate(1.5px, 3px);
}

    100% {
        transform: translate(-1px, -2px);
        -webkit-transform: translate(-1px, -2px);
        -moz-transform: translate(-1px, -2px);
        -ms-transform: translate(-1px, -2px);
        -o-transform: translate(-1px, -2px);
}
}

/* #phase1_lebah_4 {
    transform: scaleX(-1);
    animation: beeFloat 8s ease-in-out infinite;
} */

#phase1_lebah_2 {
    animation: flyBee2 .5s linear infinite;
}

/* #phase1_lebah_1 {
    offset-path: path('M137 32C283.737 11.2939 295.417 86.8614 194.5 372C195.102 411.524 188.18 432.593 158 467.5C10.3847 343.624 -19.7963 268.336 12.4999 124.5C-10.6242 -10.2353 21.1935 -24.2232 137 32Z');
    animation: offsetAnimate 4s linear infinite;
    offset-rotate: 0deg;
} */

#phase1_lebah_telpon {
    animation: swingBee 4s infinite linear;
}

#phase1_lebah_3 {
    animation: flyBee3 1s infinite linear;
}

/* #phase1_lebah_4_atas { */
/* offset-path: path("M106.658 185C16.4025 152.089 -99.4873 69.2146 159 1C69.8098 52.7418 64.7893 76.5493 147.928 108.362C59.9588 113.527 51.1425 130.293 106.658 185Z"); */
/* offset-rotate: 0deg;
    offset-distance: 0%;
    animation: offsetAnimate 3s infinite linear; */
/* } */

@keyframes offsetAnimate {
    from {
        offset-distance: 0%
    }

    to {
        offset-distance: 100%;
    }
}

/* Tablet */
/* @media screen and (max-width: 992px) {
    @keyframes mug_animation {
        0% {
            transform: translateY(0vh);
        }
        50% {
            transform: translateY(5vh);
        }
        100% {
            transform: translateY(0vh);
        }
/* Hovering Animation buat tas */
@keyframes hoveringAnimation1 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    25% {
        transform: translate3d(0, -10px, 0);
    }

    50% {
        transform: translate3d(0, 0, 0);
    }

    75% {
        transform: translate3d(0px, 10px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes hoveringAnimation2 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    25% {
        transform: translate3d(-10px, -10px, 0);
    }

    50% {
        transform: translate3d(-20px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 10px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes hoveringAnimation3 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    25% {
        transform: translate3d(-10px, -10px, 0);
    }

    50% {
        transform: translate3d(-20px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 10px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

/* Close Hovering Animation buat tas */

/* slide untuk tgn pegang jam */
.slide-right {
    translate: 50vw 0;
    transition: translate 1s ease-in-out;
    -webkit-transition: translate 1s ease-in-out;
    -moz-transition: translate 1s ease-in-out;
    -ms-transition: translate 1s ease-in-out;
    -o-transition: translate 1s ease-in-out;
}

.slide-left {
    translate: calc((var(--original-position) - var(--new-position)) * 1px) 0 !important;
    transition: translate 1s ease-in-out;
    -webkit-transition: translate 1s ease-in-out;
    -moz-transition: translate 1s ease-in-out;
    -ms-transition: translate 1s ease-in-out;
    -o-transition: translate 1s ease-in-out;
}

.show-text-paper {
    transform: translateX(0) !important;
    left: 0 !important;
    transition: left 1s ease-in-out;
}

.bring-to-center {
    transition: transform 1s ease-in-out !important;
    transform: translateY(-40%) translateX(-20%) rotate(-15deg) !important;
}